---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
// SIV: $content-width:    800px;
$content-width:    95%;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// SIV:
strong {
  font-weight: bold;
}

pre {
  box-shadow: 2px 2px 5px 2px rgb(204, 204, 204);
  overflow-x: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  color: rgb(0,0,100);
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

h1 {font-size: 280%;}
h2 {font-size: 250%;}
h3 {font-size: 200%;}
h4 {font-size: 180%;}
h5 {font-size: 150%;}
h6 {font-size: 100%;}

#___TOC___ {
    float: right;
    font-size: 90%;
    width: 25%;
    padding: 10px 10px 10px 20px;
    border: solid 1px #ccd136;
    margin: 0 0 10px 15px;
    background-color: #f7f7ff;
}